#block-views-produkt-galerija-block{
  text-align: center;
  font-family: latosemibold;
}
.block-produkti{
  margin: 0 auto;
  padding:30px;
  display: inline-block;
    .views-row{
      display: inline-block;
      width:200px;
      margin-right: 20px;
      margin-left: 20px;
      margin-bottom: 30px;
    }
}
